<div style="width: 588px">
  <div class="ui top attached secondary segment">
    <h1 class="ui header">{{multiQuestion.title}}</h1>
  </div>
  <div class="ui bottom attached segment">
    <div class="ui form">
      <div class="field">
        <label>Cuestión</label>
        <p style="color: #1b1c1d">{{question}}</p>
      </div>
      <div class="field">
        <label>Selección</label>
        <p *ngFor="let selection of selected" style="color: #1b1c1d">● {{selection}}</p>
      </div>
    </div>
  </div>


  <div class="ui inverted segment">
    <div class="ui inverted form">
      <div class="field">
        <label>Seleccione las respuestas:</label>
        <select multiple class="ui fluid dropdown" [(ngModel)]="selected">
          <option *ngFor="let answer of answers" [value]="answer">{{answer}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="" style="heigh: 69px;">
    <div (click)="continue()" style="margin: 25px 0;" class="ui right floated secondary button">Continuar</div>
  </div>

</div>
