<div>
  <h1 style="text-align: center">¡Hola {{userManager.getName()}}! - Su viaje comienza aquí</h1>

  <div class="ui inverted segment">
    <h1 class="header">Explicación</h1>
    <p>Estás a punto de ver un vídeo musical.</p>
    <p>Por favor, presta atención a la música y a las imágenes y opcionalmente leer la letra.</p>
    <p>A continuación, realizará una prueba de respuesta múltiple.</p>
    <br>
    <p>Buena suerte y diviértete</p>
    <p>-Joey</p>
  </div>

  <div class="ui right floated secondary button" (click)="continue()">Continuar</div>
</div>
