<div *ngIf="IS_TESTING">
  <div class="page-container">
    <div></div>

    <div>
      <router-outlet></router-outlet>
    </div>

    <div class="music-player">

    </div>
  </div>
</div>

<div *ngIf="!IS_TESTING">

  <div *ngIf="!hasUserInteracted" class="FirstLoadingOverlay" (click)="hasUserInteracted=true">
    <h1>> Haga clic para empezar <</h1>
    <span>>> Click to begin <<</span>
  </div>

  <div [class.no-display]="!hasUserInteracted" class="page-container">
    <div></div>

    <div>
      <router-outlet></router-outlet>
    </div>

    <div class="music-player">
      <app-audio-player></app-audio-player>
      <div style="text-align: center; width: 100vw; cursor: pointer; user-select: none;">
        <a href="https://github.com/lomberd2/SpanishPresentation" target="_blank" >https://github.com/lomberd2/SpanishPresentation</a>
      </div>
    </div>
  </div>

</div>
