<div style="position: sticky; top: 10px; z-index: 5;" class="ui inverted segment">
  <iframe width="560" height="420" src="https://www.youtube.com/embed/8pIzxS_G8-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="ui inverted segment lyricsBox">
  [J] •‒› Dale <span style="float: right">[0:05]</span>
  <br>
  [Ed] •‒› Sigue <span style="float: right">[0:06]</span>
  <hr>
  [Ed] •‒› Que a mí me gusta todo lo que exhibes
  <br>
  [Ed] •‒› Yo puedo tocar los temas
  <br>
  [Ed] •‒› Que miren cómo te recorro el cuerpo entero
  <br>
  [Ed] •‒› Baby, tú solo sigue <span style="float: right">[0:24]</span>
  <hr>
  [Ed]&[J] •‒› Tú eres sola pa mí (yeah)
  <br>
  [J] •‒› Yo quiero darte tu regalo antes de Navidad <span style="float: right">[0:30]</span>
  <hr>
  [J] •‒› Tu mentalidad es mi debilidad
  <br>
  [J] •‒› Llama a tu amiga pa que hagamos una trinidad
  <br>
  [J] •‒› Si tú eres sólida, te pongo líquida <span style="float: right">[0:38]</span>
  <hr>
  [J]&[Ed] •‒› Esta noche tú y yo sí nos vamo' a joder
  <br>
  [J]&[Ed] •‒› Sí nos vamo' a joder, sí nos vamo' a joder <span style="float: right">[0:44]</span>
  <hr>
  [J]&[Ed] •‒› Yo estoy puesto, dime si estás puesta pa beber
  <br>
  [J]&[Ed] •‒› Si estás puesta pa beber, si estás puesta pa beber <span style="float: right">[0:49]</span>
  <hr>
  [Ed] •‒› Mami, si me sigues, nos vamos pa'l hotel
  <br>
  [J] •‒› Tú ere' la primera, pa ti no hay un top ten <span style="float: right">[0:54]</span>
  <hr>
  [Ed] •‒› And I'm rollin' with a couple of people I know well
  <br>
  [Ed] •‒› Know I can keep a secret, you know that I won't tell <span style="float: right">[0:59]</span>
  <hr>
  [Ed] •‒› Tu blanquito pelirrojo, rojo
  <br>
  [Ed] •‒› Los que te tiran son flojos, flojos
  <br>
  [Ed] •‒› Hace rato tengo antojo de ti
  <br>
  [Ed] •‒› Ten cuidado de mí si te cojo, cojo <span style="float: right">[1:10]</span>
  <hr>
  [Ed]&[J] •‒› Sigue
  <br>
  [Ed]&[J] •‒› Que a mí me gusta todo lo que exhibes
  <br>
  [Ed]&[J] •‒› Yo puedo tocar los temas
  <br>
  [Ed]&[J] •‒› Que miren cómo te recorro el cuerpo entero
  <br>
  [Ed]&[J] •‒› Baby, tú solo sigue
  <br>
  [Ed]&[J] •‒› Tú eres sola pa mí <span style="float: right">[1:33]</span>
  <hr>
  [J] •‒› Dime, Tainy, si están puestas pa'l perreo
  <br>
  [J] •‒› Pa'l guayeteo, pa'l sobeteo
  <br>
  [J] •‒› En la disco, sabe', la rompemo' feo
  <br>
  [J] •‒› Y si te veo, te bellaqueo <span style="float: right">[1:44]</span>
  <hr>
  [Ed] •‒› Tú no te imaginas lo que tengo pa ti
  <br>
  [J] •‒› Después de dos tragos nos ponemos fácil <span style="float: right">[1:49]</span>
  <hr>
  [Ed] •‒› I'ma grab a couple bottles and fill up a glass each
  <br>
  [Ed] •‒› You keep dancin' to the rhythm, this beat's to your heartbeat <span style="float: right">[1:54]</span>
  <hr>
  [Ed] •‒› Tu blanquito pelirrojo, rojo
  <br>
  [Ed] •‒› Los que te tiran son flojo', flojo'
  <br>
  [Ed] •‒› Hace rato tengo antojo de ti
  <br>
  [Ed] •‒› Ten cuidado de mí si te cojo, cojo <span style="float: right">[2:05]</span>
  <hr>
  [Ed] •‒› Sigue
  <br>
  [Ed]&[J] •‒› Que a mí me gusta todo lo que exhibes <span style="float: right">[2:13]</span>
  <hr>
  [Ed]&[J] •‒› Yo puedo tocar los temas
  <br>
  [Ed]&[J] •‒› Que miren cómo te recorro el cuerpo entero <span style="float: right">[2:20]</span>
  <hr>
  [Ed]&[J] •‒› Baby, tú solo sigue
  <br>
  [Ed]&[J] •‒› Tú eres sola pa mí <span style="float: right">[2:27]</span>
  <hr>
  [J?] •‒› Dime, Tainy, si están puestas pa'l perreo
  <br>
  [J?] •‒› Pa'l guayeteo, pa'l sobeteo
  <br>
  [J?] •‒› En la disco, sabe', la rompemo' feo
  <br>
  [J?] •‒› Y si te veo, te bellaqueo
</div>

<div class="" style="heigh: 50px;">
  <div (click)="continue()" style="margin: 10px 0;" class="ui right floated secondary button">Continuar</div>
</div>
